<!-- <!DOCTYPE html> -->
<!--[if lt IE 7 ]> <html xmlns="http://www.w3.org/1999/xhtml" class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html xmlns="http://www.w3.org/1999/xhtml" class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html xmlns="http://www.w3.org/1999/xhtml" class="ie ie8"> <![endif]-->
<!--[if IE 9 ]>    <html xmlns="http://www.w3.org/1999/xhtml" class="ie ie9"> <![endif]-->
<!-- <html>
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
</head> -->
<body>

<section class="main-wapper">
  <div class="container">
    <div class="row">

      <div class="col-md-7">
        <div class="top-menu col-md-6">
        <form>
            <div class="input-group">
            <input class="form-control" placeholder="Search serial number">
            <div class="input-group-addon" ><i class="fa fa-search"></i></div>
          </div>
      </form>
      <img src="assets/images/track.png" alt="" title="">
      </div>
      </div>
      <div class="col-md-5 inner-item">
        <p>Lost Something</p>
        <p>Planning to buy used products?</p>
        <p>Check here forst!</p>
        <div class="btn-sec">
          <button>Log In/Sign Up</button></div>
          <span>It helps you check if a product is listed as lost.</span>
          <span>Reprt your lost assests here to alert potentail buyers.</span>
        </div>
      </div>
    </div>
</section>
<!-- <script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script> -->
</body>
<!-- </html> -->
